<div class="flex flex-row gap-2 h-full">
  <div class="w-1/3 bg-blue-200 p-4 rounded-lg">
    <h2 class="text-2xl text-center mb-3">Új alkalmazott felvétele</h2>
    <hr class="border-2 border-stone-200 rounded-lg">
    <div class="flex flex-col text-lg py-5">
      <label for="name" class="mb-1">Alkalmazott neve</label>
      <input type="text" id="name" name="name" class="mb-3 text-lg p-2 rounded-lg" ng-model="ne.name">
      <label for="name" class="mb-1">Cím</label>
      <input type="text" id="address" name="address" class="mb-3 text-lg p-2 rounded-lg" ng-model="ne.address">
      <label for="name" class="mb-1">Pozíció</label>
      <input type="text" id="position" name="position" class="mb-3 text-lg p-2 rounded-lg" ng-model="ne.position">
      <label for="name" class="mb-1">Fizetés (órabér)</label>
      <input type="text" id="priceperhour" name="priceperhour" class="mb-3 text-lg p-2 rounded-lg" ng-model="ne.priceperhour">
      <div class="flex flex-row gap-3 items-center justify-center">
        <button class="bg-blue-500 px-3 py-2 rounded-lg text-white self-center mt-3" ng-click="addEmployee()">Hozzáadás</button>
        <button ng-if="enUpdate" class="bg-blue-900 px-3 py-2 rounded-lg text-white self-center mt-3" ng-click="uEmployee()">Módosítás</button>
        <button ng-if="enUpdate" class="bg-red-700 px-3 py-2 rounded-lg text-white self-center mt-3" ng-click="dEmployee()">Törlés</button>
      </div>
    </div>
  </div>
  
  <div class="flex flex-col w-2/3 bg-stone-200 p-4 rounded-lg">
    <h2 class="text-2xl text-center mb-3">Alkalmazottak listája</h2>
    <hr class="border-2 border-blue-200 rounded-lg">
    <table class="m-3 bg-blue-200 rounded-lg p-3">
      <thead>
        <th class="p-3 border-b border-stone-900">#</th>
        <th class="p-3 border-b border-stone-900">Alkalmazott neve</th>
        <th class="p-3 border-b border-stone-900">Cím</th>
        <th class="p-3 border-b border-stone-900">Pozíció</th>
        <th class="p-3 border-b border-stone-900">Órabér</th>
      </thead>
      <tbody>
        <tr ng-repeat="alkalmazott in alkalmazottak" class="cursor-pointer hover:bg-blue-400" ng-click="updateEmployee(alkalmazott)">
          <td class="p-3 text-center text-lg">{{alkalmazott.id}}</td>
          <td class="p-3 text-center text-lg">{{alkalmazott.name}}</td>
          <td class="p-3 text-center text-lg">{{alkalmazott.address}}</td>
          <td class="p-3 text-center text-lg">{{alkalmazott.position}}</td>
          <td class="p-3 text-center text-lg">{{alkalmazott.pricePerHour}} Ft/hr</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>